<%# page title %>
<h3><%= link_to 'Unknown Subjects', unknown_subjects_path %> &gt;
  <%= link_to @unknown_subject.name, @unknown_subject %> &gt; <%=h @profile.name %></h3>

<%# page contents %>
<h4>
  <%=h @profile.name %>
  <span class="pull-right">
    <%= link_to input_unknown_subject_profile_path(@unknown_subject, @profile) do %>
      <li class="icon-pencil"></li>&nbsp;Forge Input
    <% end -%>
    <%= link_to unknown_subject_profile_path(@unknown_subject, @profile),
      :confirm => "Remove profile #{@profile.name}?", :method => :delete do %>
      <li class="icon-trash"></li>&nbsp;Delete
    <% end -%>
  </span>
</h4>
<p><%=h @profile.description %></p>

<table class="table table-bordered">
  <tr>
    <th>Status</th>
    <td><strong><%=h @profile.status %></strong></td>
  </tr>
  <tr>
    <th>Twitter Sources</th>
    <td>
      <%= raw(@profile.unknown_subject.data_sources.map { |data_source| 
        link_to data_source.user_id, [ @unknown_subject, data_source ]
        }.join(', ')) -%>
    </td>
  </tr>
  <tr>
    <th>Tweet Selector</th>
    <td><tt><%=h @profile.selector %></tt></td>
  </tr>
  <tr>
    <th>Tweet Count</th>
    <td><%=h @profile.status_updates.size %>&nbsp;tweets</td>
  </tr>
  <% if @profile.status.match(/complete/i) -%>
  <tr>
    <th>Average Words Per Tweet</th>
    <td><%=h @profile.average_word_count %></td>
  </tr>
  <tr>
    <th>Top 10 Words</th>
    <td><%=h @profile.dictionary.sort { |a,b| b[1] <=> a[1] }[0..9].map { |w| w[0] }.join(', ') %></td>
  </tr>
  <tr>
  <% end -%>
</table>

<%= link_to nlp_tree_unknown_subject_profile_path(@unknown_subject, @profile) do %>
  <strong><i class="icon-warning-sign"></i>&nbsp;NLP Parsing Tree (slow!)</strong>
<% end %>