<%#
  microphisher - a spear phishing support tool

  Created by Ulisses Albuquerque & Joaquim Espinhara
  Copyright (C) 2013 Trustwave Holdings, Inc.

  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.

  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.

  You should have received a copy of the GNU General Public License
  along with this program.  If not, see <http://www.gnu.org/licenses/>.
%>


<%= content_tag_for :div, data_source, :class => 'well media' do -%>
  <a class="pull-left" href="#" valign="center">
  	<%= image_tag data_source.profile_image_url, :class => 'media-object' %>
  </a>
  <div class="media-body">
		<strong><%= link_to data_source.user_id, unknown_subject_data_source_path(@unknown_subject, data_source) %></strong>
		<% if data_source.last_crawl.nil? -%>
			<span class="pull-right">Never crawled</span>
		<% else -%>
			<span class="pull-right">Last crawled <%=h time_ago_in_words(data_source.last_crawl) %> ago</span>
		<% end -%>
		<p><%=h data_source.status_updates.count %>&nbsp;posts</p>
  </div>
<% end -%>
