<%#
  microphisher - a spear phishing support tool

  Created by Ulisses Albuquerque & Joaquim Espinhara
  Copyright (C) 2013 Trustwave Holdings, Inc.

  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.

  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.

  You should have received a copy of the GNU General Public License
  along with this program.  If not, see <http://www.gnu.org/licenses/>.
%>


<%# page title %>
<div class="row">
	<h3><%= link_to 'Unknown Subjects', unknown_subjects_path %> &gt; <%=h @unknown_subject.name %></h3>

	<%# page contents %>
	<%= content_tag_for :div, @unknown_subject, :class => 'well media' do -%>
		<a class="pull-left" href="#" valign="center">
			<%= image_tag @unknown_subject.profile_image_url, :class => 'media-object' %>
		</a>
		<div class="media-body">
			<h4>
				<%=h @unknown_subject.name %>
				<span class="pull-right">
					<%= link_to edit_unknown_subject_path(@unknown_subject) do %>
						<li class="icon-pencil"></li>&nbsp;Edit
					<% end -%>
					&nbsp;
					<%= link_to unknown_subject_path(@unknown_subject), :confirm => 'Are you sure?',
						:method => :delete do %>
						<li class="icon-trash"></li>&nbsp;Delete
					<% end -%>
				</span>
			</h4>
			<p><%=h @unknown_subject.description %></p>
		</div>
	<% end -%>
</div>

<div class="row">
	<%# charts %>
	<div id="social_networks" class="span12">
		<h4>Charts</h4>
		<div class="tabbable tabs-left">
			<%# chart tabs %>
			<ul class="nav nav-tabs">
				<li class="active"><a href="#source_chart_tab" data-toggle="tab">Source</a></li>
				<li><a href="#geo_chart_tab" data-toggle="tab">Geolocation</a></li>
				<li><a href="#retweet_chart_tab" data-toggle="tab">Retweet</a></li>
			</ul>
		
			<%# chart contents %>
			<div class="tab-content">
				<div class="tab-pane active" id="source_chart_tab">
					 <%= high_chart('source_chart', @source_chart) %>
				</div>
				<div class="tab-pane" id="geo_chart_tab">
					 <%= high_chart('geo_chart', @geo_chart) %>
				</div>
				<div class="tab-pane" id="retweet_chart_tab">
					 <%= high_chart('retweet_chart', @retweet_chart) %>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<%# social network IDs %>
	<div id="social_networks" class="span6">
		<h4>Social Network IDs</h4>
		<div class="tabbable">
			<ul class="nav nav-pills">
				<li class="active"><a href="#twitter_tab" data-toggle="tab">Twitter</a></li>
				<li><a href="#facebook_tab" data-toggle="tab">Facebook</a></li>
				<li><a href="#linkedin_tab" data-toggle="tab">LinkedIn</a></li>
				<li class="pull-right"><a href="#new_source" data-toggle="modal">New...</a></li>
			</ul>
			<div class="tab-content">
				<div class="tab-pane active" id="twitter_tab">
					<% if @unknown_subject.data_sources.empty? -%>
						<div class="well">No social network IDs registered</div>
					<% else -%>
						<%= render :partial => 'data_source',
							:collection => @unknown_subject.data_sources %>
					<% end -%>
				</div>
				<div class="tab-pane" id="facebook_tab">
					<div class="well">
						<strong>Facebook not supported yet</strong>
					</div>
				</div>
				<div class="tab-pane" id="linkedin_tab">
					<div class="well">
						<strong>LinkedIn not supported yet</strong>
					</div>
				</div>
			</div>
		</div>
	</div>

	<%# profiles %>
	<div id="profiles_container" class="span6">
		<h4>Profiles</h4>
		<div class="tabbable">
			<ul class="nav nav-pills">
				<li class="active"><a href="#nlp_tab" data-toggle="tab">NLP</a></li>
				<li><a href="#geo_tab" data-toggle="tab">Geo</a></li>
				<li><a href="#graph_tab" data-toggle="tab">Graph</a></li>
				<li class="pull-right"><a href="#new_profile" data-toggle="tab">New...</a></li>
			</ul>
			<div class="tab-content">
				<div class="tab-pane active" id="nlp_tab">
					<% if @unknown_subject.profiles.empty? -%>
						<div class="well">No profiles registered</div>
					<% else -%>
						<%= render :partial => 'profile', :collection => @unknown_subject.profiles %>
					<% end -%>
				</div>
				<div class="tab-pane" id="geo_tab">
					<div class="well">
						<% if @geo_enabled_sources.empty? -%>
							<strong>No status updates with geolocation information available</strong>
						<% else -%>
							<ul>
								<% @geo_enabled_sources.each do |src, count| -%>
									<li><%= link_to "Export #{count} #{src} status updates to KML",
										export_profile_unknown_subject_path(@unknown_subject,
											:format => :kml, :source => src) %></li>
								<% end -%>
							</ul>
						<% end -%>
					</div>
				</div>
				<div class="tab-pane" id="graph_tab">
					<div class="well">
						<strong>Social network graph profile not supported yet</strong>
					</div>
				</div>			
			</div>
		</div>
	</div>
</div>

<!-- Button to trigger modal -->
 
<!-- Modal -->
<div id="new_source" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<%= form_for [ @unknown_subject, @unknown_subject.data_sources.new ] do |f| %>
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		<h3 id="myModalLabel">New Data Source</h3>
	</div>
	<div class="modal-body">
		<fieldset>
			<legend>New Social Network ID</legend>
			<%= f.label :user_id, 'Screen Name' %>
			<%= f.text_field :user_id, :placeholder => 'Twitter user ID' %>
			<br/>
	</div>
	<div class="modal-footer">
		<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
		<button class="btn btn-primary" type="submit">Save changes</button>
	</div>
<% end -%>
</div>