<%#
  microphisher - a spear phishing support tool

  Created by Ulisses Albuquerque & Joaquim Espinhara
  Copyright (C) 2013 Trustwave Holdings, Inc.

  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.

  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.

  You should have received a copy of the GNU General Public License
  along with this program.  If not, see <http://www.gnu.org/licenses/>.
%>

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="microphisher reference implementation">
  <meta name="author" content="ualbuquerque@trustwave.com, jespinhara@trustwave.com">  
  <title>&micro;hisher</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  
  <%# Twitter Bootstrap CSS %>
  <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet">
</head>
<body>
  <%# main page container %>
  <div class="container">
  
    <%# navigation bar %>
    <div class="masthead">
    	<ul class="nav nav-pills pull-right">
    		<%# links to views; mostly useless right now %>
    		<li <%= raw('class="active"') if current_page?(home_url) %>>
    			<%= link_to 'Home', home_url %>
    		</li>
    		<li <%= raw('class="active"') if current_page?(unknown_subjects_url) %>>
    			<%= link_to 'Unknown Subjects', unknown_subjects_url %>
    		</li>
    		
    		<%# link to logout function; only available if logged in (of course) %>
    		<% if logged_in? -%>
    		<li>
    			<%= link_to 'Logout', oauth_logout_path %></li>
    		</li>
    		<% end -%>
    	</ul>
    	<h3 class="muted">&micro;phisher</h3>
    </div>
    
    <%# page contents %>
    <%= yield %>
    
    <%# bootstrap support javascript %>
  	<script src="/bootstrap/js/bootstrap.min.js"></script>
  </div>
</body>
</html>
